@use 'variables' as v; 
@use 'mixins' as m;

.card{
    max-width: 370px;

    &__text{
        padding: 30px 20px;
        background-color: v.$main-bg-color;
    }

    &__title{
        @include m.font(v.$main-font-family, 1.22rem, 700, 1, 0);
        margin-bottom: 15px;
    }

    &__desk{
        @include m.font(v.$font-family-open-sans, 1rem, 400, 1.39, 0);
        margin-bottom: 39px;
    }

    &__author{
        @include m.d-flex(row, flex-start, center, 20px);

        &-photo img{
            border-radius: 50%;
        }

        &-date{
            @include m.font(v.$main-font-family, 0.78rem, 400, 1, 0);
            margin-top: 6px;
            color: v.$blue-color;
        }
    }
}