.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background: inherit !important;
    border: 1px solid #fff !important;
    border-radius: 50% !important;
    opacity: 1 !important;
    margin-left: 16px !important;
    margin-right: 16px !important;
    transition: all 0.3s ease !important;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background: #fff !important;
}

.swiper-pagination-bullet:hover {
    background: rgba(255, 255, 255, 0.7);
}

.swiper-pagination-cust {
    position: relative;
    bottom: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.swiper-button-prev-cust {
    position: absolute;
    left: -100px;
    top: 50%;
}

.swiper-button-next-cust {
    position: absolute;
    right: -100px;
    top: 50%;
}

.header-swiper{
    height: 300px;
    @media (max-width: 768px) {
        height: 200px;
    }
}

.header-swiper .swiper-slide {
  height: 100%;
}

.swiper-header-pagination{
    height: 100%;
    @media (max-width: 768px) {
        display: none;
    }
}

.swiper-header-pagination span{
    display: block;
    margin-bottom: 40px !important;
} 