$main-font-family: "Montserrat", sans-serif;
$font-family-open-sans: "Open Sans", sans-serif;
$font-family-source-sans: "Source Sans 3", sans-serif;

$main-font-size: 18px;
$main-bg-color: #fff;

// -----text color-------

$main-color: #2C4058;
$dark-color: #000;
$white-color: #fff;
$blue-color: #55B7FF;
$violet: #7E5AFF;
//---------icons--------------
$icons-color: #FFFFFF;