@use 'importer' as i;

.header {
    padding: 50px 0;
    background: url('../assets/img/header-bg.webp'),
        linear-gradient(45deg, #55B7FF, #7E5AFF);
    margin-bottom: 100px;

    @media (max-width: 992px) {
        margin-bottom: 50px;
        padding: 25px 0;
    }

    &__top {
        @include i.d-flex(row, space-between, center, 0);
        flex-wrap: wrap;
        margin-bottom: 223px;

        @media (max-width: 768px) {
            margin-bottom: 70px;
        }

        .socials {
            @media (max-width: 568px) {
                display: none;
            }
        }
    }

    &__title {
        @include i.font(i.$main-font-family, 4.44rem, 700, 1, 1.8px);
        color: i.$white-color;
        text-align: center;
        margin-bottom: 20px;

        @media (max-width: 1170px) {
            @include i.adaptive-font(80, 30);
        }
    }

    &__subtitle {
        @include i.font(i.$main-font-family, 1rem, 400, 1, 5.4px);
        color: i.$white-color;
        text-align: center;
        margin-bottom: 240px;

        @media (max-width: 1170px) {
            @include i.adaptive-font(18, 14);
        }
    }

    &__bottom {
        @include i.d-flex(row, center, center, 0);
    }
}

.menu {
    @include i.d-flex(row, space-between, center, 70px);
    flex: 1 1 auto;

    @media (max-width: 1100px) {
        gap: 40px;
    }

    @media (max-width: 992px) {
        display: none;
    }

    &__link {
        color: i.$white-color;
        @include i.font(i.$font-family-source-sans, 0.78rem, 400, 1, 0);

        &:hover {
            font-weight: 600;
            text-shadow: 0 2px 6px rgba(240, 15, 15, 0.3);
        }
    }
}

//----------------------------------------------

.about {
    padding-top: 30px;
    margin-bottom: 150px;

    @media (max-width: 992px) {
        margin-bottom: 50px;
    }

    &__block {
        @include i.d-flex(row, space-between, flex-end, 66px);
        margin-bottom: 177px;

        @media (max-width: 992px) {
            @include i.d-flex(column, space-between, center, 20px);
            margin-bottom: 80px;
        }

        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
    }

    &__image {
        flex-basis: 57%;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }


    &__info {
        flex-basis: 43%;
        padding: 0 0 26px 0;
    }

    &-title {
        margin-bottom: 147px;
        text-align: center;

        @media (max-width: 992px) {
            margin-bottom: 60px;
        }
    }

    &-btn {
        margin-bottom: 60px;

        @media (max-width: 992px) {
            margin-bottom: 30px;
        }
    }

    .info-title {
        margin-bottom: 19px;

        @media (max-width: 992px) {
            text-align: center;
        }

        &::before {
            display: none;
        }
    }

    .text-block {
        margin-bottom: 40px;
    }

    .text {
        @include i.font(i.$font-family-open-sans, 1rem, 400, 1.67, 0);

        @media (max-width: 992px) {
            text-align: center;
        }
    }

    .location {
        font-style: italic;
        font-size: 15px;
    }

    .bg {
        width: 585px;
        height: 470px;
        position: absolute;
        z-index: -1;
        transition: all 0.8s ease;

        @media (max-width: 768px) {
            display: none;
        }
    }

    .bg-1 {
        background-color: i.$blue-color;
        top: 0;
        left: 0;
    }

    .bg-2 {
        background-color: i.$violet;
        top: 0;
        right: 0;
    }
}

//-----------------------------------------------------------

.news {
    position: relative;
    padding-top: 150px;
    padding-bottom: 170px;
    background: url('../assets/img/news-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 150px;

    @media (max-width: 992px) {
        margin-bottom: 50px;
        padding-top: 60px;
        padding-bottom: 70px;
    }

    &-title {
        text-align: center;
        color: i.$white-color;
        margin-bottom: 90px;

        @media (max-width: 992px) {
            margin-bottom: 50px;
        }

        &::before {
            background: i.$white-color;
        }
    }
}

//---------------------------------------------------------------

.gallery {
    margin-bottom: 150px;

    @media (max-width: 992px) {
        margin-bottom: 50px;
    }

    &-title {
        text-align: center;
        margin-bottom: 90px;

        @media (max-width: 992px) {
            margin-bottom: 50px;
        }
    }

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin-bottom: 60px;

        @media (max-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            display: flex;
            gap: 0;
        }
    }

    .gallery-swiper {
        margin-bottom: 40px;
    }

    &__item img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    &-btn {
        display: block;
        margin: 0 auto;
        @media (max-width: 576px) {
            display: none;
        }
    }
}

//------------------------------------------------------

#map {
    height: 700px;
    z-index: 0;

    @media (max-width: 992px) {
        height: 550px;
    }

    @media (max-width: 768px) {
        height: 400px;
    }

    @media (max-width: 576px) {
        height: 300px;
    }
}

//------------------------------------------------

.footer {
    padding-top: 203px;
    padding-bottom: 234px;
    background: url('../assets/img/footer-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (max-width: 768px) {
        padding-top: 0;
        padding-bottom: 50px;
    }

    &-container {
        max-width: 770px;
        margin: 0 auto;

        @media (max-width: 1190px) {
            padding: 0 15px;
        }
    }

    &__links {
        @include i.d-flex(row, space-between, center, 15px);
        margin-bottom: 41px;
        flex-wrap: wrap;
    }

    .copyright {
        @include i.font(i.$main-font-family, 0.78rem, 400, 1, 0);
        color: i.$white-color;
    }

    &-form {
        width: 770px;
        padding: 90px 60px 68px 60px;
        background-color: i.$white-color;
        position: absolute;
        z-index: 2;
        top: -300px;
        left: 50%;
        transform: translate(-50%);

        &__wrapper {
            @include i.d-flex(row, space-between, center, 50px);
            flex-wrap: wrap;

            @media (max-width: 576px) {
                flex-direction: column;
            }
        }

        &__title {
            text-align: center;
            margin-bottom: 42px;
        }

        .contacts__item {
            @include i.font(i.$main-font-family, 1rem, 400, 1.56, 0);
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            @media (max-width: 1170px) {
                @include i.adaptive-font(18, 14);
            }
        }

        i {
            margin-right: 4px;
            color: i.$violet
        }

        @media (max-width: 768px) {
            width: auto;
            position: static;
            transform: none;
            margin-bottom: 20px;
            padding: 60px 20px 30px 20px;
        }
    }

    .form {
        &-input {
            display: block;
            width: 310px;
            height: 41px;
            border-bottom: solid 1px i.$main-color;
            opacity: 0.2;
            margin-bottom: 32px;
            font-size: i.$main-font-size;

            @media (max-width: 768px) {
                width: 100%;
            }

            &:focus {
                opacity: 1;
            }
        }

        &-btn {
            float: right;
            width: 140px;
        }

        .error {
            border: 1px solid red;
        }

        .success {
            border: 1px solid green;
        }
    }
}